@model DMS.Data.Category;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type=text], select, textarea {
        width: 100%;
        padding: 6px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
</style>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Category</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item">Category </li>
                    <li class="breadcrumb-item">Create </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            @if (!string.IsNullOrEmpty(ViewBag.success))
            {
        <div class="alert alert-success" role="alert">
            <strong>Success!</strong> @ViewBag.success.
        </div>}
            @if (!string.IsNullOrEmpty(ViewBag.error))
            {
        <div class="alert alert-warning" role="alert">
            <strong>Failed!</strong> @ViewBag.error.
        </div>}
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <input asp-for="CategoryName" class="form-control" placeholder="Category Name" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="col">


                    <input type="submit" value="Create" class="btn btn-info" />

                </div>

            </div>


        </form>
    </div>
</div>

<div>
    
</div>

